@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@font-face {
  font-family: 'youtube-sans';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/YouTube-Sans-Bold.woff2') format('woff2');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Heebo;
}
